In [1]:
import numpy as np
import pandas as pd
import pickle
import warnings
from sklearn.model_selection import KFold, cross_val_score, StratifiedKFold, train_test_split, GridSearchCV, ShuffleSplit

warnings.filterwarnings("ignore")

In [2]:
final_k = pd.read_csv('whole_hpt_data.csv')
final_k_ = pd.read_csv('final_k_.csv')
final_j = pd.read_csv('final_j.csv' )

final_k = final_k.drop(['his_hypertension','gg_year','hpt_year','age_cate','bmi_cate','income_cate'], axis=1)
final_k.rename(columns={'hypertension': 'HYPERTENSION'}, inplace=True)
final_k.columns = final_j.columns

In [3]:
final_k

,PERSON_ID,SEX,AGE,REGION,INCOME,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,HMG,SGOT_AST,SGPT_ALT,GAMMA_GTP,BMI,HIS_DIABETES,HIS_STROKE,SMK_STAT,DRINK_FREQ,EXERCI_FREQ,HYPERTENSION
0,10000573,1,47.5,0,5,120,80,75,184,15.798828,21,23,24,26.609713,0,0,3,1,1,0
1,10000573,1,47.5,0,6,115,80,98,143,15.000000,30,32,32,26.927438,0,0,3,1,1,0
2,10000573,1,47.5,0,7,125,79,76,173,14.199219,15,16,20,23.738662,0,0,3,1,1,0
3,10000573,1,42.5,0,5,132,78,82,182,15.099609,18,19,21,26.573129,0,0,3,1,1,0
4,10000573,1,42.5,0,6,136,73,99,194,15.000000,28,20,11,26.218821,0,0,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
911691,93666370,1,62.5,0,7,117,74,334,91,13.000000,19,27,63,25.155896,0,0,1,1,2,1
911692,93875778,0,77.5,0,3,145,80,91,234,13.099609,15,11,19,28.566482,0,0,1,1,1,1
911693,94371541,0,77.5,0,2,139,70,86,165,13.298828,21,18,16,21.928863,0,0,1,1,4,1
911694,94371541,0,77.5,0,1,110,70,83,162,12.298828,29,33,19,22.939751,0,0,1,1,1,1
911695,94373761,0,72.5,0,1,148,98,96,178,12.298828,24,14,9,22.494988,0,0,1,1,1,1

In [4]:
final_k_

        PERSON_ID  hypertension
0        10000573             0
1        10000593             0
2        10001059             0
3        10002285             1
4        10003846             0
...           ...           ...
377888   94509040             0
377889   94510047             0
377890   94510192             0
377891   94511620             0
377892   95068748             0

[377893 rows x 2 columns]

In [5]:
final_k_.rename(columns={'hypertension': 'HYPERTENSION'}, inplace=True)

label_col = ['HYPERTENSION']
label = pd.DataFrame(final_k_, columns= label_col)
data = final_k_.drop(label_col, axis = 1)

In [6]:
data

        PERSON_ID
0        10000573
1        10000593
2        10001059
3        10002285
4        10003846
...           ...
377888   94509040
377889   94510047
377890   94510192
377891   94511620
377892   95068748

[377893 rows x 1 columns]

In [7]:
label

        HYPERTENSION
0                  0
1                  0
2                  0
3                  1
4                  0
...              ...
377888             0
377889             0
377890             0
377891             0
377892             0

[377893 rows x 1 columns]

In [8]:
train_x_, test_x_, train_y_, test_y_ = train_test_split(data, label, test_size = 0.2, 
                                                        stratify = label, random_state = 1)

In [9]:
test_x_

        PERSON_ID
186831   60291295
129902   50072564
88384    38606050
210086   64605009
39832    24626427
...           ...
270386   74834377
242014   69797136
281109   76582490
340661   87065012
148187   53183707

[75579 rows x 1 columns]

In [10]:
def data_setting(data, drop_cols, label_col):
    label = pd.DataFrame(data, columns=label_col)
    label = label[label_col[0]].to_numpy()
    
    data = data.drop(drop_cols, axis=1)
    data = data.drop(label_col, axis=1)
    return data, label

def merge(whole, x, y, dict_cols):
    data = pd.concat([x, y], axis = 1)
    join = pd.merge(data, whole, left_on=dict_cols['join'], right_on=dict_cols['join'], how='left')
    data, label = data_setting(join, dict_cols['drop'], dict_cols['label'])
    return data, label 

dict_cols = {'join':['PERSON_ID', 'HYPERTENSION'],'drop':['PERSON_ID'],'label':['HYPERTENSION']}
train_x, train_y = merge(final_k, train_x_, train_y_, dict_cols)
test_x, test_y = merge(final_k, test_x_, test_y_, dict_cols)

In [11]:
test_x

,SEX,AGE,REGION,INCOME,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,HMG,SGOT_AST,SGPT_ALT,GAMMA_GTP,BMI,HIS_DIABETES,HIS_STROKE,SMK_STAT,DRINK_FREQ,EXERCI_FREQ
0,1,37.5,0,7,135,80,93,191,15.599609,34,22,17,22.321429,0,0,3,2,1
1,1,32.5,0,6,120,80,87,160,14.798828,17,14,17,18.778345,0,0,1,1,1
2,1,37.5,0,7,150,90,93,178,15.599609,27,21,19,19.377163,0,0,3,3,1
3,1,37.5,0,7,120,70,123,142,15.500000,22,17,28,19.257029,0,0,3,2,2
4,1,37.5,0,7,150,90,118,190,15.199219,32,27,30,20.195578,0,0,3,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182894,1,27.5,0,6,130,85,98,162,15.000000,17,14,17,22.981902,0,0,3,1,2
182895,1,27.5,0,4,110,70,65,127,13.599609,17,11,12,20.661157,0,0,3,1,2
182896,1,52.5,0,6,146,87,89,241,16.199219,66,127,88,34.577632,0,0,3,2,1
182897,1,67.5,0,1,90,60,175,146,13.099609,21,14,28,20.568807,1,0,3,2,2
182898,1,67.5,0,2,103,63,166,143,14.898438,17,46,41,20.829995,0,0,1,1,1

In [12]:
test_y

array([0, 0, 0, ..., 1, 0, 0])

In [13]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

cols = ['SEX','AGE','REGION','INCOME','BP_HIGH','BP_LWST','BLDS','TOT_CHOLE','HMG','SGOT_AST','SGPT_ALT','GAMMA_GTP',
        'BMI','HIS_DIABETES','HIS_STROKE','SMK_STAT','DRINK_FREQ','EXERCI_FREQ']
scaler = MinMaxScaler()
scaler.fit(train_x)

test_x = scaler.transform(test_x)
test_x = pd.DataFrame(test_x, columns=cols)
test_x

,SEX,AGE,REGION,INCOME,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,HMG,SGOT_AST,SGPT_ALT,GAMMA_GTP,BMI,HIS_DIABETES,HIS_STROKE,SMK_STAT,DRINK_FREQ,EXERCI_FREQ
0,1.0,0.214286,0.0,0.7,0.312500,0.322581,0.069430,0.165570,0.618010,0.033066,0.021042,0.016032,0.185976,0.0,0.0,1.0,0.333333,0.00
1,1.0,0.142857,0.0,0.6,0.250000,0.322581,0.063212,0.131579,0.583642,0.016032,0.013026,0.016032,0.145296,0.0,0.0,0.0,0.000000,0.00
2,1.0,0.214286,0.0,0.7,0.375000,0.387097,0.069430,0.151316,0.618010,0.026052,0.020040,0.018036,0.152171,0.0,0.0,1.0,0.666667,0.00
3,1.0,0.214286,0.0,0.7,0.250000,0.258065,0.100518,0.111842,0.613735,0.021042,0.016032,0.027054,0.150792,0.0,0.0,1.0,0.333333,0.25
4,1.0,0.214286,0.0,0.7,0.375000,0.387097,0.095337,0.164474,0.600826,0.031062,0.026052,0.029058,0.161568,0.0,0.0,1.0,0.666667,0.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182894,1.0,0.071429,0.0,0.6,0.291667,0.354839,0.074611,0.133772,0.592276,0.016032,0.013026,0.016032,0.193559,0.0,0.0,1.0,0.000000,0.25
182895,1.0,0.071429,0.0,0.4,0.208333,0.258065,0.040415,0.095395,0.532173,0.016032,0.010020,0.011022,0.166914,0.0,0.0,1.0,0.000000,0.25
182896,1.0,0.428571,0.0,0.6,0.358333,0.367742,0.065285,0.220395,0.643744,0.065130,0.126253,0.087174,0.326695,0.0,0.0,1.0,0.333333,0.00
182897,1.0,0.642857,0.0,0.1,0.125000,0.193548,0.154404,0.116228,0.510714,0.020040,0.013026,0.027054,0.165853,1.0,0.0,1.0,0.333333,0.25
182898,1.0,0.642857,0.0,0.2,0.179167,0.212903,0.145078,0.112939,0.587917,0.016032,0.045090,0.040080,0.168852,0.0,0.0,0.0,0.000000,0.00

In [15]:
with open('adb_lr_model.pkl', 'rb') as f:
    model = pickle.load(f)

In [21]:
prob = model.predict_proba(test_x)
prob

array([[0.61613189, 0.38386811],
       [0.74492478, 0.25507522],
       [0.53226277, 0.46773723],
       ...,
       [0.28714661, 0.71285339],
       [0.66614087, 0.33385913],
       [0.65407483, 0.34592517]])

In [19]:
from sklearn.metrics import make_scorer, accuracy_score, balanced_accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score, roc_curve, RocCurveDisplay, auc

In [22]:
def prediction(a,thr):
    result = []
    for i in a:
        if i<thr: 
            result.append(0)
        else: 
            result.append(1)
    
    result_ndarray = np.array(result, int)
    return result

prob = prob[:,1]
predthr = prediction(prob, 
                     0.4751480317013699)
acc = accuracy_score(test_y, predthr)

In [23]:
roc_score = roc_auc_score(test_y, prob)

print('---------------------------------------------test')
  

tn, fp, fn, tp = confusion_matrix(test_y, predthr).ravel()

print(confusion_matrix(test_y, predthr))
pre = tp / (tp + fp)
recall = tp / (tp + fn)
print('test accuracy :', acc)
print('specificity: ', tn / (tn + fp))
print('sensitivity (recall): ', tp / (tp + fn))
print('precision: ',tp / (tp + fp))
print('F1 score: ',2*pre*recall/(pre+recall))
print('balanced accuracy : ', (recall+ (tn / (tn + fp)))/2)
print('ROC score : ', roc_score)

---------------------------------------------test
[[120351  51444]
 [  2268   8836]]
test accuracy : 0.7063297229618533
specificity:  0.7005500742163625
sensitivity (recall):  0.795749279538905
precision:  0.14658261446582616
F1 score:  0.24756247898688782
balanced accuracy :  0.7481496768776337
ROC score :  0.8203011878182671

In [24]:
prob

array([0.38386811, 0.25507522, 0.46773723, ..., 0.71285339, 0.33385913,
       0.34592517])

In [31]:
sample_normal = []
sample_hpt = []
sample_normal_idx = []
sample_hpt_idx = []

for i in range(len(prob)):
    
    if prob[i] <= 0.2:
        
        sample_normal.append(prob[i])
        sample_normal_idx.append(i)
        
    elif prob[i] >= 0.77:
        sample_hpt.append(prob[i])
        sample_hpt_idx.append(i)

print(len(sample_normal))
print(len(sample_hpt))

464
180

In [52]:
import random

random.seed(42)

random_normal_index = random.sample(range(len(sample_normal)), k=100)
random_hpt_index = random.sample(range(len(sample_hpt)), k=100)

random_sample_normal = [sample_normal[idx] for idx in random_normal_index]
random_sample_hpt = [sample_hpt[idx] for idx in random_hpt_index]

print(random_sample_normal)
print(random_sample_hpt)

print(" ")
print(random_normal_index)
print(random_hpt_index)

[0.19831093308454648, 0.19643218576011612, 0.19851232889281437, 0.19937628226978032, 0.1996729248175087, 0.19913812791121657, 0.19997581121511782, 0.1988332149051369, 0.19660818893281765, 0.1984995496164899, 0.19641313046493905, 0.19086888760634213, 0.1989909930583769, 0.19844510040630706, 0.19768930318700326, 0.1932037820740579, 0.19214690109128155, 0.19285078367933273, 0.19467746821060272, 0.19818961140918243, 0.19557918649126044, 0.1999569042159752, 0.19761819162867067, 0.1988862794301735, 0.1986970157747491, 0.19393265503366738, 0.19998969298632505, 0.19996200159850616, 0.19958434160016308, 0.197988034736215, 0.19522072232688395, 0.19786901612784066, 0.1990777480081633, 0.1980224722662056, 0.1977356330917188, 0.19890739367941235, 0.1982891899164635, 0.19782001161495455, 0.19771897415193757, 0.19919823191281422, 0.19431532615299396, 0.1986838175723247, 0.19755288555024067, 0.1985053935048994, 0.1997442397181197, 0.19652898101838934, 0.19593467244477397, 0.19896014629863717, 0.1973326200000925, 0.1928942751235345, 0.19961471406444523, 0.19451747480435239, 0.1994093276396919, 0.1957148209043082, 0.1964984565048881, 0.193201802290773, 0.19595219456271606, 0.19910210269793188, 0.19912443925849252, 0.19282296830013107, 0.19601199805320155, 0.19867974074337633, 0.19731894034191932, 0.19670196874728932, 0.19817275351296665, 0.19919757350463418, 0.19457435687575278, 0.19920228020293965, 0.19488934498049046, 0.19995209172191264, 0.19788427621396645, 0.1968775656747713, 0.19780492831221166, 0.19965710320093644, 0.1993079713556638, 0.19861487325343608, 0.1959457042114181, 0.1955380383695945, 0.19722094977864954, 0.1939219913039985, 0.19630765571968842, 0.19579944563296575, 0.19513919508930366, 0.19942487177567, 0.19445260114506988, 0.19743698158534373, 0.19225924233658162, 0.19723423920006355, 0.19909067685583035, 0.19939301514528185, 0.19904055485069805, 0.19988092433570592, 0.19955361289932508, 0.19333008586476147, 0.19972815235181177, 0.19864293373447586, 0.1924379659345218, 0.1996941542653268, 0.1966770961213643, 0.19362290830683562]
[0.7722231891624536, 0.7745640665966536, 0.773827911121004, 0.7743415380258358, 0.7731435703732896, 0.7730609782368163, 0.7759007412758162, 0.7706558604104207, 0.7708856998267457, 0.7726477072691522, 0.7749780344024169, 0.7742814469960676, 0.7767263211476156, 0.7707081993673925, 0.7749067507414907, 0.7710894282814205, 0.7721256697813718, 0.7711265869550561, 0.7705372350850042, 0.7726566378080739, 0.7751711390324139, 0.7732620444401351, 0.7775107650690825, 0.7710885458421683, 0.7700078574740092, 0.7742729467331916, 0.7706312562177229, 0.7717353703529586, 0.7700735740661189, 0.7732868283947768, 0.7705069624474277, 0.7714200091269758, 0.7727574175587093, 0.7759591569125781, 0.7759275157423517, 0.771463498147563, 0.7762859864831126, 0.7762853121280838, 0.7701317225192501, 0.772062975011598, 0.7736455838242298, 0.7755066698616047, 0.7712008752722663, 0.7752506299896611, 0.7725918193464805, 0.777380339242073, 0.7729972641710652, 0.7724898954791704, 0.7718998864534763, 0.7709219385439855, 0.7717221338993543, 0.7724833407514673, 0.7723786911991793, 0.771163885954282, 0.7717934305544343, 0.7741762267918393, 0.7728111548293768, 0.7728457679759113, 0.7719429653952203, 0.7719997809913763, 0.7722021926596543, 0.7764715953098709, 0.7723722665551495, 0.771419846059131, 0.776450715316204, 0.7713818006482684, 0.7713166987484841, 0.7768314575051469, 0.776021083724232, 0.775462719319614, 0.7726920769905699, 0.7710708297724007, 0.7736095362792166, 0.7711179871636109, 0.770240075358031, 0.7718313776155401, 0.7712790216140297, 0.775943979827051, 0.7708733092622249, 0.7738088355901185, 0.7740277949704435, 0.7766044417666826, 0.7747145389908843, 0.7733916897177489, 0.7728400384105312, 0.7736043341728428, 0.7760007971291829, 0.7706594082177463, 0.7703409380092506, 0.7757094930788613, 0.7709234689289785, 0.7718173307643329, 0.7702629350253839, 0.7707819255588626, 0.7730751221787514, 0.7707870253072442, 0.7753182810993363, 0.7708325668234612, 0.7725229934334519, 0.7746935528354331]

[327, 57, 12, 379, 140, 125, 114, 71, 377, 52, 346, 460, 279, 44, 302, 216, 16, 15, 47, 111, 119, 258, 308, 13, 287, 101, 366, 332, 359, 451, 214, 112, 229, 301, 142, 414, 3, 388, 412, 81, 357, 448, 174, 429, 79, 110, 390, 172, 454, 445, 194, 49, 183, 176, 309, 135, 22, 373, 235, 274, 63, 193, 40, 282, 150, 321, 316, 185, 295, 98, 360, 35, 23, 338, 116, 148, 401, 443, 51, 413, 420, 232, 325, 186, 83, 189, 181, 107, 343, 136, 435, 349, 331, 36, 311, 381, 87, 273, 458, 452]
[118, 97, 69, 163, 142, 56, 83, 14, 58, 8, 80, 102, 68, 16, 54, 145, 169, 165, 127, 101, 117, 36, 67, 35, 63, 143, 137, 157, 149, 109, 151, 168, 92, 174, 156, 130, 126, 23, 12, 28, 39, 40, 108, 166, 98, 178, 119, 64, 2, 29, 167, 87, 140, 37, 55, 20, 171, 0, 147, 112, 121, 33, 132, 134, 22, 159, 13, 111, 176, 38, 107, 81, 114, 77, 25, 19, 47, 116, 124, 177, 99, 152, 122, 76, 41, 62, 131, 172, 46, 139, 30, 7, 89, 72, 10, 85, 94, 170, 129, 136]

In [54]:
sample_normal_index = [sample_normal_idx[idx] for idx in random_normal_index]
sample_hpt_index = [sample_hpt_idx[idx] for idx in random_hpt_index]

In [55]:
sample_normal_index.sort()
sample_hpt_index.sort()

In [56]:
condition = test_x.index.isin(sample_normal_index)
filtered_normal = test_x[condition]
filtered_normal

,SEX,AGE,REGION,INCOME,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,HMG,SGOT_AST,SGPT_ALT,GAMMA_GTP,BMI,HIS_DIABETES,HIS_STROKE,SMK_STAT,DRINK_FREQ,EXERCI_FREQ
1599,0.0,0.071429,0.0,0.1,0.166667,0.129032,0.072539,0.103070,0.510714,0.017034,0.003006,0.018036,0.151434,0.0,0.0,0.0,0.000000,0.00
4623,0.0,0.071429,0.0,0.7,0.166667,0.193548,0.062176,0.106360,0.446336,0.015030,0.009018,0.011022,0.147687,0.0,0.0,0.0,0.000000,0.25
4625,0.0,0.071429,0.0,0.6,0.166667,0.193548,0.069430,0.126096,0.484980,0.016032,0.011022,0.009018,0.143961,0.0,0.0,0.0,0.000000,0.00
6849,0.0,0.142857,0.0,0.7,0.125000,0.129032,0.069430,0.081140,0.476346,0.012024,0.007014,0.010020,0.133808,0.0,0.0,0.0,0.000000,0.00
6961,0.0,0.071429,1.0,0.3,0.087500,0.135484,0.051813,0.108553,0.480621,0.009018,0.013026,0.009018,0.152813,0.0,0.0,0.0,0.000000,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
176180,0.0,0.142857,0.0,0.7,0.125000,0.193548,0.070466,0.096491,0.540723,0.015030,0.012024,0.007014,0.141257,0.0,0.0,0.0,0.000000,0.00
176898,0.0,0.071429,0.0,0.5,0.125000,0.129032,0.049741,0.115132,0.514989,0.014028,0.011022,0.010020,0.170395,0.0,0.0,0.0,0.333333,0.00
179469,0.0,0.142857,0.0,0.7,0.125000,0.193548,0.051813,0.123904,0.467796,0.014028,0.008016,0.013026,0.143381,0.0,0.0,0.0,0.000000,0.00
181213,0.0,0.142857,1.0,0.6,0.087500,0.141935,0.050777,0.148026,0.446336,0.017034,0.016032,0.009018,0.146716,0.0,0.0,0.0,0.000000,0.25
181961,0.0,0.071429,1.0,0.1,0.125000,0.180645,0.047668,0.112939,0.476346,0.015030,0.009018,0.010020,0.158856,0.0,0.0,0.0,0.000000,0.00

In [59]:
test_y_normal = [test_y[idx] for idx in sample_normal_index]
test_y_hpt = [test_y[idx] for idx in sample_hpt_index]

In [63]:
cnt = 0
for item in test_y_hpt:
    if item == 0:
        cnt += 1

cnt

55

In [57]:
condition2 = test_x.index.isin(sample_hpt_index)
filtered_hpt = test_x[condition2]
filtered_hpt

,SEX,AGE,REGION,INCOME,BP_HIGH,BP_LWST,BLDS,TOT_CHOLE,HMG,SGOT_AST,SGPT_ALT,GAMMA_GTP,BMI,HIS_DIABETES,HIS_STROKE,SMK_STAT,DRINK_FREQ,EXERCI_FREQ
573,0.0,0.714286,1.0,0.6,0.375000,0.451613,0.376166,0.153509,0.463520,0.029058,0.034068,0.050100,0.274634,1.0,0.0,0.0,0.000000,0.00
5521,0.0,0.785714,0.0,0.9,0.416667,0.451613,0.058031,0.169956,0.626560,0.031062,0.024048,0.026052,0.273420,0.0,0.0,0.0,0.000000,0.00
10005,0.0,0.785714,0.0,0.9,0.458333,0.516129,0.074611,0.288377,0.536448,0.020040,0.015030,0.024048,0.189643,0.0,0.0,1.0,0.333333,0.00
10142,0.0,0.642857,0.0,0.3,0.500000,0.451613,0.060104,0.239035,0.553632,0.027054,0.028056,0.010020,0.317563,0.0,0.0,0.0,0.000000,0.00
12539,1.0,0.500000,1.0,0.9,0.500000,0.709677,0.093264,0.179825,0.639385,0.038076,0.048096,0.125251,0.247739,0.0,0.0,0.0,0.333333,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172257,0.0,0.785714,0.0,1.0,0.416667,0.387097,0.078756,0.241228,0.489255,0.018036,0.025050,0.016032,0.317166,1.0,0.0,0.0,0.000000,0.25
173730,0.0,0.714286,1.0,0.3,0.541667,0.516129,0.077720,0.230263,0.557907,0.020040,0.021042,0.036072,0.218488,0.0,0.0,0.0,0.000000,0.50
174134,1.0,0.571429,1.0,1.0,0.666667,0.580645,0.083938,0.235746,0.600826,0.025050,0.039078,0.164329,0.217071,0.0,0.0,1.0,0.333333,0.00
177825,0.0,0.642857,0.0,0.6,0.500000,0.516129,0.081865,0.185307,0.502080,0.033066,0.030060,0.016032,0.250332,0.0,0.0,0.0,0.000000,0.00
179201,1.0,0.714286,0.0,0.9,0.587500,0.612903,0.059067,0.154605,0.643744,0.044088,0.027054,0.176353,0.207760,0.0,0.0,0.0,0.000000,0.00